<div>
  <%= image_tag "feature_tours", size: "177x28" %>
  <br>
  <% @places.sample(4).each do |place| %>
    <div class="photo">
      <%= image_tag Image.of_place(place["id"]).first.url, size: "194x111" %>
      <br>
      <%= link_to place["name"], "#" %>
    </div>
  <% end %>
</div>
