<div>
  <h4 class="title3"><%= t "travels.index.top_hotels" %></h4>
  <ul>
    <% @hotels.sample(10).each do |hotel| %>
      <li><%= link_to hotel["name"], hotel_path(hotel["code"]) %></li>
    <% end %>
  </ul>
  <%= link_to t("travels.index.more_hotels"), hotels_path, class: "more" %>
</div>
