<div>
  <h4 class="title1"><%= t "travels.index.popular_tours" %></h4>
  <ul>
    <% @places.sample(10).each do |place| %>
      <li><%= link_to place["name"], "#" %></li>
    <% end %>
  </ul>
  <a href="#" class="more"><%= t "travels.index.more_tours" %></a>
</div>
