<div class="place-title-show"><%= t "hotels.index.all_hotels" %></div>
<div class="numberlist">
  <ol>
    <% @hotels.each do |hotel| %>
      <li><%= link_to hotel["name"], "#" %></li>
    <% end %>
  </ol>
</div>
